body{
    background-color: black;
}
.parent{
    width: 950px;
    height: 550px;
    background-color: rgb(233, 228, 228);
    
    margin-left:200px;
    margin-top: 100px;
    
}
.uppar{
    color: orange;
    margin-left: 50%;
    margin-top: 20px;
    height: 20px;
    background-color: rgb(233, 228, 228);
    width: 300px;
}


.explore h1{
    margin-left: 350px;
    margin-top: 10px;
    background-color: rgb(233, 228, 228)  ;
    width: 340px;
    text-align: center;

}
.explore b{
    color: rgb(255, 168, 6);
}
.rooms{
    background-color: white;
    width: 300px;
    height: 400px;
    margin-left: 20px;
    top: 1px;
}
.star{
    background-color: white;
    width: 100px;
    position: relative;
    left: 170px;
    bottom: 85px;
}

.checked {
    color: orange;}

   

    
        
   
        

    